extends _include/layout

block content
  div.container
    div.row
      div.col-md-6.offset-md-3

        table.majac-table.hover
          thead
            tr
              th Lable
              th Lable
              th Lable
          tbody
            tr
              td Sometext
              td Sometext
              td Sometext
            tr.table-success
              td Sometext
              td Sometext
              td Sometext
            tr.table-info
              td Sometext
              td Sometext
              td Sometext
            tr.table-danger
              td Sometext
              td Sometext
              td Sometext
            tr.table-warning
              td Sometext
              td Sometext
              td Sometext
            tr
              td Sometext
              td Sometext
              td Sometext
      
      div.col-md-12
        hr.margin-h-20

      div.col-md-6.offset-md-3
        div.stat-card
          div.icon
            i.fa.fa-server
          div.text
            div.title servers
            div.sub has server count
          div.count 2,102
        