@import 'build/forSASS.scss';
@import 'build/majac.css';

body {
  padding-top: 47px;

  .jumbotron {
    background-image: url(img/top_bg.jpg);
    @include bg-set(cover, center);
    min-height: 400px;
    color: map-get($colors, 'white');
    h1 {
        @include text-shadow(4px 4px 8px rgba(0,0,0, 1));
    }
  }
}

footer {
    background-color: map-get($colors, 'primary');
    color: map-get($colors, 'white');
    .container {
        .row {
            min-height: 100px;
        }
    }
}

.linkActions {
    color: map-get($colors, 'link');
    text-decoration: none;
}

a {
    color: map-get($colors, 'link');
    &:focus {
        @extend .linkActions;
    }
    &:hover {
        @extend .linkActions;
    }
    &:visited {
        @extend .linkActions;
    }
    &:active {
        @extend .linkActions;
    }

}

